* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
a {
   text-decoration: none;
}
li {
   margin: 0;
   padding: 0;
   list-style: none;
}
ul {
   padding: 0;
   margin: 0;
}
.main_block {
   width: 50%;
   border: transparent solid grey;
   margin: 100px auto;
   padding: 50px;
   padding-bottom: 10px;
   border-radius: 20px;
   background: #e8efe9;
}
.main_block h2 {
   color: #fd8558;
   text-align: center;
   margin-bottom: 20px;
}
#text {
   position: relative;
   left: 140px;
   width: 40%;
   height: 30px;
   border: 1px solid #d6cece;
   border-radius: 10px;
   font-size: 20px;
   color: #5f5d5d;
}
#button {
   cursor: pointer;
   font-weight: bold;
   position: relative;
   color:#5e59a2;
   font-size: 16px;
   padding: 5px;
   top: -2px;
   left: 150px;
   width: 60px;
   height: 27px;
   border: transparent;
   background: #bcd2fd;
   border-radius: 10px;
}
#myUl {
   margin-top: 30px;
}
#myUl li {
   cursor: pointer;
   color: #38363c;
   display: block;
   border: transparent solid grey;
   border-radius: 10px;
   padding: 10px;
   background: #c8d3ca;
   margin-top: -10px;
}
#myUl .close {
   text-decoration: none;
   font-size: 25px;
   position: relative;
   left: 93%;
   top: -31px;
   color: #f23358;
   font-weight: bold;
   cursor: pointer;
}
li.chacked {
   color: #cccccc;
   text-decoration: line-through;
}